@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #fecaca;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-jp: var(--font-jp);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fee2e2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
