@import "tailwindcss";

:root {
  --background: #d1d5db;
  --foreground: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-default: var(--font-default);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fce7f3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
